@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    //--color-body: 213 27% 84%;
    //--color-body-muted: 215 16% 47%;
    //--color-body-foreground: 0 0% 4%;
    //
    //--color-primary: 208 99% 44%;
    //--color-primary-foreground: 0 0% 4%;
    //--color-primary-active: 208 99% 34%;
    //
    //--color-secondary: 43 96% 56%;
    //--color-secondary-foreground: 0 0% 4%;
    //--color-secondary-active: 43 96% 46%;

    --background: 213 27% 84%;
    --background-foreground: 0 0% 4%;

    --muted: 213 27% 75%;
    --muted-foreground: 0 0% 60%;

    --primary: 208 99% 44%;
    --primary-foreground: 0 0% 4%;
    --primary-active: 208 99% 34%;

    --secondary: 43 96% 56%;
    --secondary-foreground: 0 0% 4%;
    --secondary-active: 43 96% 46%;
  }

  .dark {
    //--color-body: 222 47% 11%;
    //--color-body-muted: 229 84% 5%;
    //--color-body-foreground: 0 0% 90%;
    //
    //--color-primary: 224 64% 33%;
    //--color-primary-foreground: 0 0% 90%;
    //--color-primary-active: 224 64% 23%;
    //
    //--color-secondary: 35 100% 50%;
    //--color-secondary-foreground: 0 0% 90%;
    //--color-secondary-active: 35 100% 40%;

    --background: 222 47% 11%;
    --background-foreground: 0 0% 90%;

    --muted: 222 47% 8%;
    --muted-foreground: 0 0% 40%;

    --primary: 224 64% 33%;
    --primary-foreground: 0 0% 90%;
    --primary-active: 224 64% 23%;

    --secondary: 35 100% 50%;
    --secondary-foreground: 0 0% 90%;
    --secondary-active: 35 100% 40%;
  }


  body {
    @apply bg-background text-background-foreground transition-colors font-sans
    min-h-[100dvh];
  }

  //
  //@import "(styles)/(code-highlighting)";
  //
  //
  html {
    -webkit-tap-highlight-color: transparent;

    @screen sm {
      scroll-behavior: smooth !important;
    }
  }

  @import "partials/scrollbar";
}

@layer utilities {

}

@layer components {
  .article {
    @apply whitespace-pre-wrap;
  }

  .label {
    @apply block font-bold py-1 px-4 bg-secondary text-secondary-foreground shadow-hard-sm font-code;
  }

  .focusable {
    @apply focus:outline-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-background-foreground;
  }

  //
  //
  //    ul {
  //      @apply flex flex-col gap-2;
  //    }
  //
  //    ul li {
  //      @apply border-l-4 border-secondary dark:border-secondaryDark px-2;
  //    }
  //
  //    #table-of-contents {
  //      @apply w-min whitespace-nowrap;
  //
  //
  //      + ul {
  //        @apply list-none flex flex-col gap-1;
  //
  //        li {
  //          @apply border-none p-0;
  //        }
  //
  //        li a {
  //          @apply block p-2 my-1 hover:bg-primary dark:hover:bg-primaryDark border-l-4 border-secondary dark:border-secondaryDark;
  //        }
  //
  //        ul {
  //          @apply mt-2;
  //          > li {
  //            @apply ml-4;
  //          }
  //        }
  //
  //        > li a {
  //          @apply font-bold no-underline text-black dark:text-white;
  //        }
  //      }
  //    }
  //  }
}

//
//.swiper-pagination-bullet {
//  @apply h-2 w-2 ring-1 bg-secondary ring-primary md:h-3 md:w-3;
//}
//
//.contains-task-list {
//  @apply flex flex-col gap-1 justify-center mb-4;
//
//  li {
//    @apply border-none;
//  }
//
//  input[type="checkbox"] {
//    @apply h-6 w-6 rounded;
//  }
//}
