@import "swiper/scss";
@import "swiper/scss/mousewheel";
@import "swiper/scss/navigation";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    &.light {
      --color-body: 213 27% 84%;
      --color-body-muted: 215 16% 47%;
      --color-body-foreground: 0 0% 4%;

      --color-primary: 208 99% 44%;
      --color-primary-foreground: 0 0% 4%;
      --color-primary-active: 208 99% 34%;

      --color-secondary: 43 96% 56%;
      --color-secondary-foreground: 0 0% 4%;
      --color-secondary-active: 43 96% 46%;
    }

    &.dark {
      --color-body: 222 47% 11%;
        --color-body-muted: 229 84% 5%;
      --color-body-foreground: 0 0% 90%;

      --color-primary: 224 64% 33%;
      --color-primary-foreground: 0 0% 90%;
      --color-primary-active: 224 64% 23%;

      --color-secondary: 35 100% 50%;
      --color-secondary-foreground: 0 0% 90%;
      --color-secondary-active: 35 100% 40%;
    }
  }

  body {
    @apply bg-body text-body-foreground;
  }

  * {
    transition-duration: theme("transitionDuration.DEFAULT");
    transition-property:  background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: theme("transitionTimingFunction.DEFAULT");
  }
  //
  //@import "(styles)/(code-highlighting)";
  //
  //
  //html {
  //  -webkit-tap-highlight-color: transparent;
  //
  //  @screen sm {
  //    scroll-behavior: smooth !important;
  //  }
  //}

  //@import "(styles)/(partials)/scrollbar";
}

//@layer utilities {
//  .min-h-main {
//    @apply min-h-mobile sm:min-h-between md:min-h-desktop;
//  }
//}
//
@layer components {
//  .base-input {
//    @apply w-full rounded-xl p-3 text-xl text-black transition-all focus:ring-primary focus:border-primary focus:drop-shadow-primary sm:text-2xl;
//  }
//
//  .title {
//    @apply mb-4 text-center text-5xl font-bold;
//  }
//
//  .article {
//    table {
//      @apply w-full table-auto overflow-auto max-h-[80vh];
//    }
//
//    th, td {
//      @apply px-4 py-2
//      border-4 border-bodyLight
//      dark:border-bodyDark;
//    }
//
//    tr {
//      @apply hover:bg-primary hover:text-white hover:font-bold dark:hover:bg-primaryDark transition-all dark:bg-primaryDark;
//    }
//
//    thead tr {
//      @apply drop-shadow-hard-sm;
//    }
//
//    tbody tr {
//      @apply md:hover:scale-x-105 md:hover:shadow-hard-sm;
//    }
//
//    th {
//      @apply border-separate border-4 text-left text-black bg-secondary border-bodyLight dark:border-bodyDark dark:bg-secondaryDark dark:text-white;
//    }
//
//    p {
//      @apply md:text-xl;
//    }
//
//    h1, h2, h3, h4, h5, h6 {
//      @apply md:scroll-mt-header-desktop sm:scroll-m-header-mobile;
//    }
//
//    h1 {
//      @apply p-4 text-5xl font-bold label;
//    }
//
//    h2 {
//      @apply w-min whitespace-nowrap text-3xl font-bold label;
//    }
//
//    h3 {
//      @apply w-min whitespace-nowrap text-2xl font-bold label;
//    }
//
//    img {
//      @apply mx-auto w-[50vmin] border-4 border-secondary dark:border-secondaryDark transition-colors;
//    }
//
//    ul {
//      @apply flex flex-col gap-2;
//    }
//
//    ul li {
//      @apply border-l-4 border-secondary dark:border-secondaryDark px-2;
//    }
//
//    #table-of-contents {
//      @apply w-min whitespace-nowrap;
//
//
//      + ul {
//        @apply list-none flex flex-col gap-1;
//
//        li {
//          @apply border-none p-0;
//        }
//
//        li a {
//          @apply block p-2 my-1 hover:bg-primary dark:hover:bg-primaryDark border-l-4 border-secondary dark:border-secondaryDark;
//        }
//
//        ul {
//          @apply mt-2;
//          > li {
//            @apply ml-4;
//          }
//        }
//
//        > li a {
//          @apply font-bold no-underline text-black dark:text-white;
//        }
//      }
//    }
//  }
}
//
//.swiper-pagination-bullet {
//  @apply h-2 w-2 ring-1 bg-secondary ring-primary md:h-3 md:w-3;
//}
//
//.contains-task-list {
//  @apply flex flex-col gap-1 justify-center mb-4;
//
//  li {
//    @apply border-none;
//  }
//
//  input[type="checkbox"] {
//    @apply h-6 w-6 rounded;
//  }
//}