@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;

    @screen sm {
      scroll-behavior: smooth !important;
    }
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 43 96% 56%;
    --secondary-foreground: 0 0% 0%;

    --accent: 0 0% 100%;
    --accent-foreground: 0 0% 0%;

    --success: 145 63% 50%;
    --success-foreground: 0 0% 100%;

    --warning: 35 100% 50%;
    --warning-foreground: 0 0% 100%;

    --error: 0 100% 50%;
    --error-foreground: 0 0% 100%;

    --info: 217 91% 60%;
    --info-foreground: 0 0% 100%;

    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 217 91% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 100%;

    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;

    --primary: 224 64% 33%;
    --primary-foreground: 0 0% 100%;

    --secondary: 32 95% 44%;
    --secondary-foreground: 0 0% 100%;

    --accent: 0 0% 100%;
    --accent-foreground: 0 0% 0%;

    --success: 145 63% 50%;
    --success-foreground: 0 0% 100%;

    --warning: 35 100% 50%;
    --warning-foreground: 0 0% 100%;

    --error: 0 100% 50%;
    --error-foreground: 0 0% 100%;

    --info: 217 91% 60%;
    --info-foreground: 0 0% 100%;

    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 0 0% 100%;
    --radius: 0.5rem;
  }
}

/*/!*::-webkit-scrollbar {*/
/*//  @apply w-1.5 h-1.5 md:w-3 md:h-3;*/
/*//}*/
/*//*/
/*/!*::-webkit-scrollbar-track {*/
/*//  @apply bg-secondary dark:bg-secondaryDark;*/
/*//}*/
/*//*/
/*/!*::-webkit-scrollbar-thumb {*/
/*//  @apply bg-bodyLightSecondary dark:bg-bodyDarkSecondary;*/
/*//*/
/*//  &:hover {*/
/*//    @apply bg-secondaryDark dark:bg-secondary;*/
/*//  }*/
/*//}*/

/*//.contains-task-list {*/
/*//  @apply flex flex-col gap-1 justify-center mb-4;*/
/*//*/
/*//  li {*/
/*//    @apply border-none;*/
/*//  }*/
/*//*/
/*//  input[type="checkbox"] {*/
/*//    @apply h-6 w-6 rounded;*/
/*//  }*/
/*//}*/
